.uploaddocumentbutton {
    display: grid;
    grid-template-columns: 1fr minmax(1px, 3fr);
    justify-content: space-between;
    gap: 20px;

    .titleDocument {
        font-size: 0.9rem;
    }

    .descriptionDocument {
        font-size: 0.8rem;
        font-style: italic;
    }
}
