.uploaddocumentbutton {
    display: grid;
    grid-template-columns: 1fr minmax(1px, 3fr);
    justify-content: space-between;
    gap: 20px;

    .titleDocument {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .descriptionDocument {
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
        line-height: 18px;
    }
}
