@import "@/styles/variables.scss";

.mainWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .rightContent {
        height: 100%;
        width: 100%;
        // margin: 0 0 32px 0;
        background-color: $background;
        padding: 1rem;
        padding-left: 2rem;
        overflow-y: auto;
    }
}
