@import "@styles/variables.scss";

.bankRuleModal {
    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: $black;
    }
    &__description {
        font-size: 1rem;
        font-weight: 300;
        color: $black;
    }

    &__rules {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-height: 310px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &__singleRule {
        display: grid;
        grid-template-columns: 1fr auto 1fr 1fr;
        align-items: end;
        gap: 1rem;

        .equalSign {
            margin-bottom: 0.8rem;
        }
    }

    &__footer {
        display: grid;
        height: 3rem;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: 0.5rem;
    }
}
