@import '../../../styles/variables.scss';

.selectzone {
    width: 20%;
    .zones {
        background-color: $background;
        padding: .75rem;
        border-radius: 0.5rem;
        margin-top: .5rem;
    }
    .title{
        font-size: 1.2rem;
    }
    .zone{
        background-color: $white;
        width: 100%;
        border-radius: .25rem;
        padding: .3rem .5rem;
        margin: .5rem 0;
    }
    .checboxzone{
        .ant-checkbox-inner {
            background-color: $secondary !important;
            border: none;
        }
    }

}