@import "@styles/variables.scss";

.concilationTable {
    &__id {
        color: $link !important;
        text-decoration: underline;
        cursor: pointer;
    }

    .selectedRow {
        td {
            background-color: inherit !important;
        }
    }

    .negativeAdjustment {
        color: red;
    }

    .expirationText {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .table {
        border-collapse: collapse;
    }

    .column {
        border-right: 1px solid #DDDDDD !important;
        border-radius: 0 !important;

    }

    .ant-table-thead>tr>th {
        border: 1px solid #DDDDDD !important;
        border-radius: 0 !important;

    }

    .ant-table-tbody>tr>td {
        border: 1px solid #DDDDDD !important;
        border-radius: 0 !important;

    }

    .ant-table {
        border-radius: 0 !important;
    }

    .ant-table-container table {
        border-radius: 0 !important;
    }

    .ant-table-cell {
        padding: 0.5rem !important;
    }
}

.toolTip {
    color: $black;
    font-weight: 300;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    strong {
        font-weight: 600;
    }
}

.logosWrapper {
    padding-right: 0.3rem !important;

    .logos {
        display: flex;
        gap: 0.25rem;
        justify-content: flex-end;

        button {
            background-color: $background;
            padding: 0;

            border: none;

            &:hover {
                border: 1px solid $black;
            }
        }
    }
}

.actionWrapper {
    .ant-select-selector {
        background-color: #F7F7F7 !important;
        width: 100% !important;
    }
}

.text__red__concilation {
    color: #E53261;
    font-size: 1rem;
    margin: 0;
}