@import "@/styles/variables.scss";

.mainCreateDiscount {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $background;

    .buttonGoBack {
        display: flex;
        align-items: center;
        color: $secondary-gray;
    }

    .divider {
        color: $secondary-gray;
        font-size: 1.8rem;
        margin: 0 0.5rem;
    }

    .icon {
        color: $secondary-gray;
    }

    .rutesText {
        color: $secondary-gray;
        font-weight: 600;
        cursor: pointer;
    }

    .containerCreateProject {
        width: 100%;
        padding: 2rem;
        .titleName {
            margin: auto;
            font-weight: 600;
            width: 398px;
            height: 32px;
            color: var(--Black, #141414);
            line-height: 124%;
            font-style: normal;
            font-size: 24px;
        }

        .subtitleNit {
            font-weight: 600;
            margin: 1rem 0;
        }

        .imageProject {
            margin: rem 0;
        }
    }

    .infoHeaderProject {
        gap: 2rem;
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }

    .tabsContainer {
        width: 100%;
        height: 88%;
        padding-left: 1.5rem;
        border-radius: 0.5rem;
        background-color: $white;
        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: 100%;
        }
    }
}

.message_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.button {
    span {
        color: $black;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
    }
    &:hover {
        span {
            color: white;
            transition-duration: 250ms;
        }
    }
}
