@import "../../../styles/variables.scss";

.selectInputCustom {
    width: 100%;
    height: 3rem !important;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.7rem !important;
    border-radius: 0.25rem;
    border-bottom: none;
}

.selectInputCustomError {
    border: 1px dashed red;
    width: 100%;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.7rem;
    border-radius: 0.25rem;
}