@import "@/styles/variables.scss";

.button,
.button__fullWidth {
    background-color: $black;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600 !important;
    height: 100% !important;

    &:hover {
        color: rgb(188, 188, 188) !important;
    }

    &:disabled {
        background-color: $dark-gray !important;
        color: $black !important;
    }
}

.button__fullWidth {
    width: 100% !important;
}
