.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .label {
        display: flex;
        column-gap: 18px;
        line-height: 24px;
        align-items: center;

        .text {
            font-size: 1rem;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .percentageBadge {
            height: 32px;
            display: flex;
            padding: 0 8px;
            font-size: 1rem;
            font-weight: 600;
            line-height: 24px;
            border-radius: 8px;
            margin: 0 0 0 auto;
            align-items: center;
            background-color: #cbe71e4d;
            white-space: nowrap;
        }
    }
    .value {
        display: flex;
        column-gap: 4px;
        font-weight: 500;
        line-height: 39px;
        align-items: baseline;

        .total {
            font-size: 1.625rem;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 120px;
            letter-spacing: -0.05em;
        }

        span {
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: -0.02em;
        }
        .quantity {
            font-size: 1.375rem;
            font-weight: 300;
            line-height: 33px;
            margin: 0 0 0 auto;
            letter-spacing: -0.02em;
        }
    }
}

@media screen and (min-width: 1340px) {
    .wrapper {
        .value {
            .total {
                max-width: 100%;
            }
        }
    }
}
