@import '../../../styles/variables.scss';


.selectchips {
    border: 1px solid $dark-gray;
    border-radius: 0.7rem;
    width: 100%;
    margin: .5rem 0;
    padding: .65rem;

    .headerselectchips {
        margin-bottom: .2rem;
    }

    .mainTags {
        padding: .45rem;
    }

    .tag {
        background-color: $background;
        border: none;
        display: flex;
        align-items: center;
        padding: .45rem;
        gap: 1.7rem;
        border-radius: .5rem;

        .ant-tag-close-icon {
            display: flex;
        }
    }
}