@import "@styles/variables.scss";

.digitalRecordModal {
    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-height: 90vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    &__goBackBtn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 600;
        font-family: inherit;
        border-radius: 8px;
        transition: all 0.1s ease-in-out;
        width: fit-content;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__titleInput {
        font-size: 0.75rem;
        font-weight: 600;
        color: $gray;
        margin-bottom: 6px;
    }

    &__addDocument {
        display: flex;
        grid-column-start: 2;
        align-items: center;
        border: none !important;
        box-shadow: none !important;
        font-size: 0.75rem;
        padding: 0 !important;
        margin-top: -0.5rem;
        width: fit-content;

        &:hover {
            opacity: 0.8;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &__textArea {
        grid-column: 1 / span 2;

        &__label {
            font-size: 0.75rem;
            font-weight: 600;
            color: $gray;
            margin-bottom: 0.25rem;
        }

        textarea {
            background-color: $background;
            border: none;
            border-radius: 0.25rem;
            padding: 0.875rem 1rem;
            width: 100%;
            min-height: 15rem;
            resize: none;
            font-family: inherit;
            font-size: 1rem;
        }
    }
}

@media screen and (max-height: 910px) {
    .digitalRecordModal {
        .ant-modal-body {
            max-height: 650px;
            overflow-y: auto;
            scrollbar-width: none;
        }
    }
}

@media screen and (max-height: 820px) {
    .digitalRecordModal {
        .ant-modal-body {
            max-height: 500px;
        }
    }
}
