@import '../../../styles/variables.scss';

.channelbr {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: .25rem;

    .lineBR {
        border: 1px solid $dark-gray;
        border-radius: .5rem;
        padding: 1rem;
        margin-top: 1rem;
    }

    .titleLineBR {
        font-size: 1.2rem;
    }

    .subtitleLineBR {
        font-size: 1.1rem;

    }

    .mainSublinesBR {
        flex-wrap: wrap;
        margin-top: 1rem;
        gap: .5rem;
    }

    .tagSubLineBR {
        border: none;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        background-color: $background;
        font-weight: 500;
        font-size: .9rem;
        gap: 1.2rem;
    }

    .addButtonLineSub {
        display: flex;
        align-items: center;
        color: $gray;
        margin-top: .5rem;
    }
    .removebutton {
        width: 25px !important;
        background-color: $dark-gray;
        height: 25px;
        border-radius: 2rem;
    }
}