.modal-next-concilation {
    .ant-modal-content {
        text-align: center;
        padding: 2rem;
    }

    .icon-wrapper {
        background-color: #CBE71E;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1rem;
    }

    .text_conciliation {
        font-size: 16px;
        color: #141414;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: #141414;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: 400;
        color: #141414;
    }


    .button-row {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }


    .button__action__text {
        height: 2.5rem;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.25rem;
        flex-grow: 1;
        border: none;
        box-shadow: none;


        &__green {
            background-color: #CBE71E;
            color: #141414;
        }

        &__white {
            background-color: #ffff;
            border: 2px solid #141414;
            color: #141414;

        }

    }
}