.mainClients {
    width: 100%;
    height: 100%;
    display: flex;
    .contentClients {
			width: 100%;
			height: 100%;
			padding: 2rem;
			overflow-y: auto;
			margin: 0 0 32px 0;
			padding-left: 2.5rem;
			background-color: white;
    }
}