@import "@/styles/variables.scss";

.actionButton {
    font-family: inherit;
    display: flex;
    align-items: center;
    background-color: $background;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    gap: 0.5rem;
    border: none;
    box-shadow: none;

    &:hover {
        cursor: pointer;
    }

    &__caretRight {
        margin-left: auto;
    }

    &__text {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }
}
