@import "@/styles/variables.scss";

.restartContainer {
    width: 100%;
    margin: 1rem 0;
    height: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;

    .restartContent {
        margin: 2rem 0;
        margin-bottom: 6rem;

        .forgotPassword {
            font-size: 0.95rem;
            color: $black;
            text-decoration: underline;
            align-self: flex-end;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            margin-top: -1rem;

            &:hover {
                color: $darker-gray;
            }
        }
    }

    .sentText {
        max-width: 420px;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__inputTitle {
        font-size: 0.875rem;
        font-weight: 600;
        color: $black;
    }

    &__content {
        margin: 2.75rem 0;
    }
}

@media (max-height: 720px) {
    .restartContainer {
        .restartContent {
            margin: 1rem 0;
        }
    }
}
