@import "@styles/variables.scss";

.modalcreateshipto {
    min-width: 600px;

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0.75rem 0rem;
        margin-top: 1.5rem;

        .cancelButton {
            width: 100%;
            height: fit-content;
            box-shadow: none;
            background-color: $white;
            color: black;
            font-weight: 600;
            border: 1px solid black;
            padding: 12px 24px;

            &:hover {
                opacity: 0.8;
            }
        }

        .acceptButton {
            width: 100%;
            height: fit-content;
            box-shadow: none;
            background-color: $secondary;
            color: black;
            font-weight: 600;
            padding: 12px 24px;

            &:hover {
                background-color: $secondary !important;
                color: $white !important;
                border: 1px solid transparent !important;
            }

            &:disabled {
                background-color: $dark-gray;

                cursor: not-allowed;

                &:hover {
                    background-color: $dark-gray !important;
                    color: black !important;
                }
            }

            &.-address {
                grid-column-start: 2;
            }
        }
    }
}
