@import "@styles/variables.scss";

.datePickerContainer {
    display: flex;
    flex-direction: column;

    .input-date-custom-title {
        color: #909090;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .dateInputForm {
        background-color: #F7F7F7;
        border: none !important;
        padding: 0.71rem !important;
        font-size: 1rem;
        box-shadow: none;
        &:hover,
        &:focus,
        &:focus-within  {
            background-color: #F7F7F7 !important;
        }
        .ant-picker-input {
            border-radius: 0.25rem;
            width: 100%;

            >input::placeholder {
                color: #dddddd !important;
            }

            &:disabled {
                background-color: #909090;
                color: $dark-gray !important;
            }
            &:focus {
                box-shadow: none
            }
       
        }

        &__icon {
            font-size: 20px;
            color: black;
        }
    }

    .dateInputFormError {
            border: 1px dashed red !important;
            background-color: $background !important;
            padding: 0.7rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            box-shadow: none;
            margin-bottom: 0.2rem;
            &::placeholder {
                color: $secondary-gray;
            }
            &:focus {
                box-shadow: none
            }
    }

    .textError {
        padding-left: 0.5rem;
        color: red;
    }
}
