@import "@styles/variables.scss";

.mainDetailProject {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;

    .buttonGoBack {
        display: flex;
        align-items: center;
        color: $secondary-gray;
    }

    .divider {
        color: $secondary-gray;
        font-size: 1.8rem;
        margin: 0 0.5rem;
    }

    .icon {
        color: $secondary-gray;
    }

    .rutesText {
        color: $secondary-gray;
        font-weight: 600;
        cursor: pointer;
    }

    .containerDetailProject {
        width: 100%;
        height: 100%;
        padding: 3rem;
        padding-top: 2rem;
        overflow-y: scroll;
        scrollbar-width: none;

        .titleName {
            margin: auto;
            font-weight: 600;
            width: 398px;
            height: 32px;
            color: #141414;
            line-height: 124%;
            font-style: normal;
            font-size: 24px;
        }

        .subtitleNit {
            font-weight: 300;
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        .imageProject {
            margin: 1rem 0;
        }
    }

    .infoHeaderProject {
        gap: 2rem;
        padding-left: 1.5rem;
        margin-top: 0rem;
    }

    .tabsContainer {
        width: 100%;
        padding-left: 1.5rem;
        border-radius: 0.5rem;
        height: 100%;
        background-color: $white;
        scrollbar-width: none;
        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: 100%;
        }
    }
}
