@import "@styles/variables.scss";

.createShipToModal {
    .nonHereditaryInputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: start;
    }

    .hereditaryInputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 1.5rem;
        align-items: start;
    }

    .modalTitle {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .inputContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        &__title {
            font-size: 12px;
            color: $gray;
        }
    }

    .input {
        background-color: $background;
        padding: 0.7rem;
        border-radius: 0.25rem;
        max-height: 3rem;
        font-size: 1rem;
        font-weight: 300;

        &.-address {
            padding: 0.4rem;
        }

        .ant-input-wrapper {
            input {
                font-size: 1rem;
                font-weight: 300;
                padding: 0.4rem;

                &::placeholder {
                    color: $dark-gray !important;
                }

                &:disabled {
                    color: $dark-gray;
                }
            }
        }
    }

    .inputError {
        border: 1px dashed red;
        background-color: $background;
        margin-bottom: 0.2rem;
        border-radius: 0;
        padding: 0.7rem;
        border-radius: 0.25rem;
        font-size: 1rem;

        &::placeholder {
            color: $secondary-gray;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0.75rem 0rem;
        margin-top: 1.5rem;

        .cancelButton {
            width: 100%;
            height: fit-content;
            box-shadow: none;
            background-color: $white;
            color: black;
            font-weight: 600;
            border: 1px solid black;
            padding: 12px 24px;

            &:hover {
                opacity: 0.8;
            }
        }

        .acceptButton {
            width: 100%;
            height: fit-content;
            box-shadow: none;
            background-color: $secondary;
            color: black;
            font-weight: 600;
            padding: 12px 24px;

            &:hover {
                background-color: $secondary !important;
                color: $white !important;
                border: 1px solid transparent !important;
            }

            &:disabled {
                background-color: $dark-gray;

                cursor: not-allowed;

                &:hover {
                    background-color: $dark-gray !important;
                    color: black !important;
                }
            }

            &.-address {
                grid-column-start: 2;
            }
        }
    }

    .textError {
        padding-left: 0.5rem;
        color: red;
    }
}
