@import "@styles/variables.scss";

.mainClientsTable {
    width: 100%;
    background-color: $white;
    padding-bottom: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    .stickykpis {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #fff; // Asegúrate de que esto coincida con el color de fondo de tu aplicación
        padding-bottom: 16px; // Ajusta según sea necesario
    }

    .table-container {
        flex-grow: 1;
        overflow: auto;

        .ant-table-wrapper {
            height: 100%;

            .ant-table-container {
                height: 100%;
            }


        }
    }

    .ant-table-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text {
        color: #0085ff;
    }

    .mainClientsTable_header {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
    }

    .statusContainerInactive {
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        width: auto;
        border: 1px solid $pending;
    }

    .statusContainerActive {
        padding: 0.25rem 0.4rem;
        border-radius: 1rem;
        width: auto;
        border: 1px solid $active;
    }

    .statusActive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $active;
    }

    .statusInactive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $pending;
    }

    .inputSearch {
        &::placeholder {
            color: black !important;
        }
    }
}