@import "@/styles/variables";

.HeaderContainer {
    height: auto;
    width: 100%;
    margin: 0 0 32px 0;
    background-color: $white;
    padding: 2rem;
    padding-left: 2.5rem;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid $dark-gray;
    span {
        font-weight: bold;
    }
    hr {
        margin: 0;
        border: none;
        border-bottom: 1px solid $dark-gray;
        width: 100%;
    }
    .buttonEdit {
        background-color: #f7f7f7;
        border: 1px solid transparent;
        display: flex;
        gap: 0.625rem;
        padding: 0.75rem;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 8px;
        line-height: normal;
        align-items: center;
        justify-content: center;
        color: #141414;
        border: 1px solid #ddd;
        > span {
            color: $black;
        }
    }
}

.input {
    width: 250px;
}

.inputDesc {
    width: 450px;
}

.selectInput {
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 1.4rem 0.45rem !important;
    border-radius: 0.25rem;
    border-bottom: none;
    height: auto;
    width: 250px;

    span {
        font-size: 1rem;
        font-weight: 300;
    }
}

.inputDatePicker {
    background-color: $background !important;
    border-radius: 0;
    padding: 0.7rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 300;
    border-width: 0 !important;
    ::placeholder {
        color: $dark-gray !important;
    }
}
