@import "@/styles/variables.scss";

.mainDetail {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;

    .buttonGoBack {
        display: flex;
        align-items: center;
        color: $black !important;
        padding: 0 0.5rem 0 0 !important;
        font-size: 1rem !important;
        font-weight: 600;
    }

    .containerDetailClient {
        width: 100%;
    }

    .infoHeader {
        gap: 2rem;
    }

    .tabsContainer {
        width: 100%;
        height: 90%;

        background-color: $white;
        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: 100%;
        }

        .ant-tabs-tab {
            padding-bottom: 4px !important;

            &-btn {
                color: $black !important;
                font-size: 1rem;
                font-weight: 700;
            }
        }
    }
}
