@import "@/styles/variables.scss";

.selectInput {
    margin-bottom: 0.2rem;
    background-color: $background;
    border-radius: 0.25rem;
    border-bottom: none;
    height: 100% !important;
    width: 100%;

    span {
        font-size: 1rem;
        font-weight: 300;
    }
}

.discountFeatures {
    display: flex !important;
    align-items: center;
    > span {
        font-weight: 300;
        font-size: 1.1rem;
        color: $secondary-gray;
    }

}

.input {
    height: 100% !important;
}

.columnHeader {
    font-weight: bold;
    color: $gray;
    font-size: .8rem;
}

.container {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid $dark-gray;
    span {
        font-weight: 500 !important;
    }
}

.button {
    span {
        color: $black;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
    }
    &:hover {
        span {
            color: white;
            transition-duration: 250ms;
        }
    }
}