.mainDescription {
  display: flex;
  margin-top: 48px;
  column-gap: 32px;

  .mapContainer {
    width: 50%;
    height: 384px;
  }

  .trackContainer {
    width: 50%;

    .trackComponent {
      border-radius: 4px;
      background: #F7F7F7;
      padding: 16px 24px;

      .trackTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;

        .trackTitle {
          color: #141414;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -1px;
        }

        .trackStateContainer {
          display: flex;
          align-items: center;
          cursor: pointer;

          .trackState {
            color: #141414;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            background-color: #CBE71E;
            border-radius: 8px;
            padding: 6px 12px;
          }
        }
      }

      .timeLineContainer {
        margin-top: 8px;
        margin-left: 8px;

        .dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #CBE71E;
        }

        .bigDot {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: none;
          border: 2px solid #CBE71E;
          padding: 2px;
          margin: 2px;

          .littleDot {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #CBE71E;
          }
        }

        .dotChildrenContainer {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .leftChildren {
            display: flex;
            flex-direction: column;
            row-gap: 3px;

            .dotTitle {
              color: #141414;
              font-size: 14px;
              font-weight: 600;
            }

          }

          .dotText {
            color: #141414;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }

    .cardsContainer {
      display: flex;
      column-gap: 8px;
      margin-top: 10px;

      .card {
        width: 25%;
        height: 76px;
        border-radius: 4px;
        background: #F7F7F7;
        padding: 12px 16px;

        .titleCardContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .titleCard {
          color: #141414;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -1px;
        }

        .subtitleCard {
          color: #141414;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -1px;
        }
      }
    }
  }
}