@import "@/styles/variables.scss";

.button,
.button__fullWidth {
    background-color: $secondary;
    box-shadow: none;
    color: $black !important;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600 !important;
    height: 100% !important;

    &:hover {
        background-color: $white !important;
        border: 1px solid $black !important;
    }
}

.button__fullWidth {
    width: 100% !important;
}
