.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .header {
    width: 600px;
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    .content {
      gap: 4px;
      display: flex;
      .description {
        font-size: 14px;
        font-weight: 300;
        color: #141414;
        line-height: 20px;
      }
      .value {
        font-size: 0.875rem;
        font-weight: 600;
        color: #141414;
        line-height: 20px;
      }
    }
  }
  .img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #F7F7F7;
  }  
  .imgContainer {
    width: 80%;
    height: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .footer {
    gap: 16px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    .buttonCheck {
      flex: 1;
      display: flex;
      cursor: pointer;
      color: #141414;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      padding: 12px 24px;
      border-radius: 8px;
      align-items: center;
      background: #CBE71E;
      justify-content: center;
    }
    .buttonDownload {
      flex: 1;
      display: flex;
      font-size: 16px;
      cursor: pointer;
      color: #141414;
      font-weight: 600;
      padding: 12px 24px;
      border-radius: 8px;
      line-height: normal;
      align-items: center;
      justify-content: center;
      border: 1px solid #141414;
    }
  }
}