@import "@styles/variables.scss";

.dropdown {
    .ant-dropdown-menu {
        background-color: $white !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px !important;
    }

    .ant-dropdown-menu-item {
        margin: 0 !important;
        padding: 0px !important;
    }

    .buttonOutlined {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        box-shadow: none;
        border: 1px solid black;
        padding: 1.5rem 2rem !important;
        width: 100%;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }
}

.dotsButton {
    background-color: $background !important;
    border: none !important;
    height: 48px !important;
    width: 48px !important;

    &:hover {
        border: 1px solid #141414 !important;
    }
}
