@import "@/styles/variables.scss";

.cartItemCard {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(1fr, 2fr) 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid $dark-gray;

    .imageContainer {
        display: flex;
        justify-content: center;
        grid-column: 1;
        max-width: 80px;
        min-width: 50px;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain !important;
        }
    }

    .name {
        font-size: 1rem;
        font-weight: 400;
        grid-column: 2/6;
    }

    .price {
        font-size: 1.25rem;
        font-weight: 800;
        grid-column: 2/4;
        grid-row: 2;

        &__amount {
            font-size: 1.25rem;
            font-weight: 800;
        }

        .oldPrice {
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: line-through;
            line-height: 4px;
            color: $darker-gray;
        }

        .discountPercentage {
            font-size: 1.25rem;
            font-weight: 500;
            color: #e53261;
        }
    }

    .finalQuantity {
        font-size: 1.25rem;
        font-weight: 600;
        grid-column: 5/6;
        grid-row: 2;
        text-align: right;
    }
}
