@import "@styles/variables.scss";

.newClientProjectForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .headerNewUserProyectsForm {
        margin: 0 2rem 1rem 0;
        justify-content: space-between;
    }

    .mainClientForm {
        height: 100%;
        overflow-y: auto;
        padding-bottom: 1rem;
    }

    .buttonOutlined {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        box-shadow: none;
        border: 1px solid black;
        padding: 1.5rem 2rem !important;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }

    .buttonNewProject {
        background-color: $secondary;
        color: black;
        font-weight: 600;
        box-shadow: none;
        display: flex;
        align-items: center;
        padding: 1.5rem 2rem !important;
        margin-right: 1rem;

        &:hover {
            background-color: $secondary !important;
            opacity: 0.8;
            color: black;
        }
    }
    .buttonUploadDocument {
        margin-top: 1.5rem;
        font-size: 1rem !important;
    }
    .buttonGoBack {
        display: flex;
        justify-content: flex-start;
        color: black;
        box-shadow: none;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }

    .buttonAction {
        background-color: $dark-gray;
        display: flex;
        justify-content: flex-start;
        color: black;
        box-shadow: none;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }

    .selectInput {
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(87, 90, 107, 1);
    }

    .generalProject {
        width: 100%;
        padding-right: 24px;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        > * {
            width: 100% !important;
        }

        h2,
        h3,
        h4,
        h5 {
            color: $gray;
        }
        .input {
            background-color: $background;
            border-radius: 0;
            padding: 0.7rem;
            border-radius: 0.25rem;
            font-size: 1rem;

            &::placeholder {
                color: $dark-gray !important;
            }

            &:disabled {
                color: $dark-gray;
            }
        }

        .inputError {
            border: 1px dashed red;
            background-color: $background;
            margin-bottom: 0.2rem;
            border-radius: 0;
            padding: 0.7rem;
            border-radius: 0.25rem;
            font-size: 1rem;

            &::placeholder {
                color: $secondary-gray;
            }
        }
    }

    .breRules {
        height: 100%;
        justify-content: space-between;
    }

    .textError {
        padding-left: 0.5rem;
        color: red;
    }

    .selectInput {
        width: 100%;
        margin-bottom: 1rem;
        background-color: $background;
        padding: 0.375rem;
        border-radius: 0.25rem;
        border-bottom: none;
    }

    .inputContainer {
        width: 100%;
        &__title {
            font-size: 12px;
        }
    }

    .clientDocuments {
        width: 100%;
    }
}

@media screen and (max-width: 1250px) {
    .newClientProjectForm {
        .generalProject {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
