@import "@/styles/variables.scss";

.mainDetail {
    width: 100%;
    background-color: $white;
    padding-bottom: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    .buttonGoBack {
        height: fit-content;
        display: flex;
        align-items: center;
        color: $black !important;
        padding: 0 0.5rem 0 0 !important;
        font-size: 1rem !important;
        font-weight: 600;
    }

    .containerDetailClient {
        width: 100%;

        .stickyHeader {
            position: -webkit-sticky;
            position: sticky;
            top: -2rem;
            background-color: $white;
            z-index: 2;
            padding: 1rem 0;
            margin-left: -0.5rem;
            margin-bottom: 0;
        }
    }

    .infoHeader {
        gap: 2rem;
    }
}
