@import "@styles/variables.scss";

.wrapper {
  gap: 12px;
  padding: 18px;
  border: 1px solid $dark-gray;
  border-radius: 1px;
  .boxInfo {
    background-color: #F7F7F7;
    padding: 18px;
    border-radius: 4px;
    .titles {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 4px;
    }
    .values {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 4px;
    }
  }
}
