@import "@styles/variables.scss";

.FlexContainer {
    height: 100%;
    width: 100%;
    margin: 0 0 32px 0;
    background-color: $white;
    padding: 2rem;
    padding-left: 2.5rem;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid $dark-gray;

    .header {
        height: 48px;
    }
}
