@import "@styles/variables.scss";

.communicationProjectForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
    width: 100%;

    .goBackButton {
        padding: 1rem 0rem;
        padding-right: 0.25rem;
        font-weight: 600;
    }

    .generalInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-top: -1rem;
    }

    .forwardType {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 8px;

        &__title {
            grid-column: 1 / span 2;
        }

        .radioGroup {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            &__frequency {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                position: relative;

                &__radio {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-auto-flow: column;
                    gap: 1rem;
                    align-items: center;
                    margin: 0 !important;
                    margin-right: -1rem !important;

                    span {
                        padding: 0;
                    }
                }
            }

            &__event {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                align-items: center;

                &__radio {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-auto-flow: column;
                    gap: 1rem;
                    align-items: center;
                    margin: 0 !important;
                    margin-right: -1rem !important;

                    span {
                        padding: 0;
                    }
                }

                .noticeDays {
                    height: 32px;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    &__title {
                        font-size: 0.75rem;
                        font-weight: 600;
                        color: $gray;
                        margin-right: 0.5rem;
                    }
                    .buttonMinus,
                    .buttonPlus {
                        background-color: $background;
                        border: none;
                        padding: 0;
                        width: 24px;
                        height: 100%;
                        box-shadow: none;
                    }

                    .input {
                        height: 100%;
                        background-color: $background;
                        border: none;
                        width: fit-content;
                        max-width: 100px;
                        text-align: center;
                        font-size: 1rem;
                        font-weight: 400;
                        border-radius: 4px;
                        font-family: inherit;
                        color: $red;

                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }

            &__actions {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                align-items: flex-start;

                &__radio {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-auto-flow: column;
                    gap: 1rem;
                    align-items: center;
                    margin: 0 !important;
                    margin-right: -1rem !important;

                    span {
                        padding: 0;
                    }
                }
            }

            &__error {
                color: $error;
            }
        }
    }

    .businessRules {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        &__title {
            grid-column: 1 / span 3;
        }
    }

    .communicationTemplate {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__title {
            grid-column: 1 / span 2;
            margin-bottom: 1rem;
        }

        .textArea {
            &__label {
                font-size: 0.75rem;
                font-weight: 600;
                color: $gray;
                margin-bottom: 0.25rem;
            }
        }
    }

    .textError {
        padding-left: 0.5rem;
        color: red;
    }
}
