@import "@styles/variables.scss";

.wrapperCardsClient {
    row-gap: 8px;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: $background;
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .title {
            color: $black;
            font-size: 0.938rem;
            font-weight: 300;
            overflow-x: hidden;
            line-height: 24px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .icon {
            justify-self: end;
            width: 22px;
            height: 22px;
            min-width: none;
            min-height: none;
            display: flex;
            border-radius: 6px;
            align-items: center;
            justify-content: center;
            background-color: $secondary;
        }
    }
    .card-client-value {
        gap: 4px;
        display: flex;
        align-items: baseline;
        .total {
            font-weight: 500;
            color: $black;
            font-size: 1.3rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .millionsMark {
            font-size: 1rem;
            font-weight: 300;
        }
    }
}

@media screen and (min-width: 1400px) {
    .wrapperCardsClient {
        padding: 16px;
        .header {
            .title {
                font-size: 1rem;
            }
            .icon {
                width: 24px;
                height: 24px;
            }
        }
        .card-client-value {
            .total {
                font-size: 1.625rem;
            }
            .millionsMark {
                font-size: 1.125rem;
            }
        }
    }
}
