.wrapper {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #f8f8f8;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.header {
  gap: 8px;
  flex: 1;
  display: flex;
  .title {
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }
  .icon {
    padding: 2px;
    display: flex;
    border-radius: 6px;
    background-color: #CBE71E;
  }
}
.content {
  overflow: hidden;
  font-size: 24px;
  margin: 10px 0 0;
  color: #141414;
  line-height: 40px;
  font-weight: 500;
  display: flex;
  gap: 4px;
  align-items: center;
  .total {
    font-size: 20px;
    color: #141414;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
  .amount {
    font-size: 20px;
    color: #141414;
    line-height: 20px;
  }
}
