@import "@/styles/variables.scss";

.contactUsButton {
    position: absolute;
    bottom: 0;
    right: 0;
    &__btn {
        border-radius: 16px;
        border: 1px solid $secondary !important;

        &:hover {
            border: 1px solid $black !important;
        }
    }
}

@media (max-width: 1024px) {
    .contactUsButton {
        position: static;
        margin-top: 4rem;
        align-self: end;
    }
}

@media (max-height: 600px) {
    .contactUsButton {
        position: static;
        margin-top: 0.5rem;
        align-self: end;
    }
}
