@import "@styles/variables.scss";

.documentDragger {
    width: 100%;
    min-height: 4.75rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1.4rem;
    .ant-upload{
        width: 100%;
    }
    .nameFile {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-left: 0.5rem;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .sizeFile {
        display: flex;
        text-align: left;
        font-size: 10px;
        font-weight: 300;
        margin-top: 0.15rem;
        margin-left: 2.2rem;
    }

    .deleteDocButton {
        z-index: 2;
    }
}
