@import "@styles/variables.scss";

.documentDragger {
    width: 100%;
    min-height: 4.75rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1.4rem;

    .nameFile {
        font-size: 1rem;
        margin-left: 0.5rem;
        max-width: 320px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sizeFile {
        display: flex;
        text-align: left;
        font-size: 0.8rem;
        font-weight: 300;
        margin-top: 0.15rem;
        margin-left: 2.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .deleteDocButton {
        z-index: 2;
    }
}