@import "@styles/variables.scss";

.labelCollapse {
    background-color: $background;
    width: fit-content;
    gap: 1.4rem;
    padding-right: 1rem !important;
    border-radius: 0.5rem;

    &__status {
        color: $white !important;
        border-radius: 0.5rem;
        background: #f4076a;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem !important;
        font-weight: 400 !important;
        line-height: 1.125rem !important;
    }

    &__total {
        gap: 0.2rem;
        align-items: center;
        opacity: 50%;
        &__icon {
            color: $black !important;
        }
        &__title {
            font-size: 0.875rem !important;
            font-style: normal !important;
            color: $black !important;
            margin: 0 !important;
        }
    }
}
