@import "@styles/variables.scss";

.main {
    width: 90px;
    height: 100%;
    background-color: $white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    padding-top: 4rem;
    position: relative;
    box-shadow: 7px 1px 5px 2px #f0f0f0;

    .containerButtons {
        display: flex;
        padding: 10px 14px;
        align-items: center;
        row-gap: 6px;

        .logoContainer {
            display: flex;
            border: none;
            cursor: pointer;
            margin-bottom: 2rem;
            border: 1px solid transparent;
            transition: all 0.3s ease;
            border-radius: 8px;

            &__image {
                border-radius: inherit;
                width: 50px;
                height: 50px;
                object-fit: fill;
            }

            &:hover {
                opacity: 0.9;
                border: 1px solid $black;
            }
        }

        .buttonIcon {
            background-color: $secondary;
            box-shadow: none;
            color: black;
            align-items: center;

            &:hover {
                background-color: $secondary !important;
                color: black;
            }
        }

        .buttonIconActive {
            background-color: transparent;
            color: black;
            box-shadow: none;
            align-items: center;

            &:hover {
                background-color: $secondary !important;
                color: black;
            }
        }

        .imageWithoutImage {
            background-color: $secondary !important;
        }
    }
}

.mainLarge {
    width: 272px;
    height: 100%;
    background-color: $white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    padding-top: 5rem;
    position: relative;
    box-shadow: 7px 1px 5px 2px #f0f0f0;

    .containerButtons {
        display: flex;
        width: 90%;
        padding: 10px 14px;
        align-items: center;
        row-gap: 6px;
        .logoContainer {
            margin-bottom: 2rem;
        }

        .buttonIcon {
            background-color: $secondary;
            box-shadow: none;
            display: flex;
            width: 100%;
            color: black;
            align-items: center;

            &:hover {
                background-color: $secondary !important;
                color: black;
            }
        }

        .buttonIconActive {
            width: 100%;
            background-color: transparent;
            color: black;
            box-shadow: none;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $secondary !important;
                color: black;
            }
        }
    }
    .exit {
        display: flex;
        .buttonExit {
            display: flex;
            align-items: center;
            box-shadow: none;
            justify-content: center;
        }
    }
}
