@import "@/styles/variables.scss";

.cartContainer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $dark-gray;
    overflow: hidden;
    position: relative;

    &__top {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        padding: 1.625rem 1.5rem;
        padding-bottom: 0;

        .header {
            h3 {
                font-size: 1.125rem;
            }
            p {
                font-size: 1.125rem;
                font-weight: 500;
            }
        }

        .emptyCart {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 0.5rem;

            .bagLogo {
                color: $dark-gray;
            }

            p {
                color: $gray;
                font-size: 1.125rem;
                font-weight: 500;
                text-align: center;
            }
        }

        .products {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 1rem;
            flex-grow: 1;
            overflow-y: scroll;
            scrollbar-width: none;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                color: $gray;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    &__footer {
        flex: 0 1 280px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0.938rem;
        background-color: #fcffed;
        border-radius: 7px;

        p {
            font-weight: 500;
        }
        strong {
            font-weight: 800;
            font-size: 1.25rem;
        }
    }
}

.discountsButton {
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background: linear-gradient(to right, #e75a1e, #2d3799);
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background-color: $white;
        border-radius: 6px;
        z-index: -1;
        transition: 200ms;
    }

    &::after {
        content: attr(data-info);
        background: linear-gradient(to right, #e75a1e, #2d3799);
        background-clip: text;
        font-size: 0.875rem;
        font-weight: 600;
        color: transparent;
        transition: 200ms;
    }

    &:hover {
        border: none;
        background: linear-gradient(to right, #e98b63, #525996);
        &::before {
            opacity: 0%;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        &::after {
            color: white;
        }
    }

    &:active {
        background: linear-gradient(to right, #e75a1e, #2d3799);
        transition: 200ms;
    }
}

.separator {
    border: none;
    height: 1px;
    background-color: $dark-gray;
}
