.fileDownloadModal {

  .ant-modal-content {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px !important;
  }


  .ant-modal-body {
    flex: 1;
    overflow-y: auto;
    padding: 0;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .img-container {
    flex: 1;
    overflow-y: auto;
    padding: 24px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 0 0 8px 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #d9d9d9;

    .button-download,
    .button-check {
      flex: 1;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
    }

    .button-download {
      color: #141414;
      border: 1px solid #141414;
      margin-right: 8px;
    }

    .button-check {
      color: #141414;
      background: #CBE71E;
      border: none;
      margin-left: 8px;
    }
  }
}

.title_modal_file_download {
  padding: 0 24px;
}