@import "@/styles/variables.scss";

.modalGenerateAction {
    .ant-modal-content {
        padding: 2rem !important;

        .ant-modal-close {
            margin: 1.2rem;
        }
    }

    &__title {
        margin-bottom: 1.5rem !important;
    }

    &__description {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 0.75rem;
    }

    .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}

.collapseByAction {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .collapseByAction__children__item {
        cursor: pointer;
    }
    .ant-collapse-header {
        background-color: $background;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;

        span {
            margin: 0;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__text {
            font-size: 1rem !important;
            font-weight: 400 !important;
            margin: 0 !important;
        }
    }

    .ant-collapse-content {
        border: solid 1px $dark-gray !important;
        border-radius: 0 0 0.5rem 0.5rem;
        border-top: none !important;
        margin: -0.3rem 0.1rem 0.1rem 0.1rem;

        &-box {
            padding: 0.3rem 1rem 0 1rem !important;
        }
    }

    &__children {
        &__item {
            margin: 1rem 0;
        }

        hr {
            border: none;
            height: 1px;
            background-color: $dark-gray;
        }
    }
}