@import "@/styles/variables.scss";

.principalContainer {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid $dark-gray;
}

.radioGroup {
    > label {
        > span {
            color: black !important;
            font-weight: 400 !important;
        }
    }
}

.input {
    width: 250px;
}
