@import '../../../../styles/variables.scss';

.inputcreatezone {
    background-color: $background;
    width: 100%;

		.createDocument {
			width: 96%;
			border-radius: .8rem;
			border: 1px solid white;
			background-color: transparent;
		}

    .createButtonZone {
			gap: 10px;
			width: 98%;
			height: 3rem;
			border: none;
			display: flex;
			margin-top: .3rem;
			align-items: center;
			justify-content: center;
    }
}