@import "@styles/variables.scss";

.collapseByStatus {
    .ant-collapse-header {
        display: flex;
        align-items: center !important;
        padding: 0 !important;
        margin: 1.5rem 0;
        margin-left: -0.5rem;

        &-text {
            h4 {
                margin: 0;
            }
        }
    }
}

.collapse-separator {
    border: none;
    border-top: 1px solid $dark-gray;
    margin: 1rem;
}
