$secondary: #cbe61e;
$tertiary: #32bbe5;

$background: #f7f7f7;
$black: #141414;
$white: #ffffff;
$gray: #909090;
$dark-gray: #dddddd;
$secondary-gray: #575a6b;
$darker-gray: #787878;

$pending: #ffb800;
$active: #00a3ff;

$link: #0085ff;
$orange: #a9b849;
$light-yellow: #ebf3b7;
$error: #ff2828;
$red: #e53261;
