@import "./variables.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.ant-radio-inner::after {
    background-color: black !important;
}

.ant-radio-checked .ant-radio-inner {
    border-color: black !important;
    border: 2px solid black !important;
}

.ant-cascader-checkbox-disabled {
    display: none !important;
}

.ant-select-dropdown,
.ant-select-item-option-selected {
    background-color: white !important;
}

.ant-select-dropdown {
    background-color: white !important;
}

.ant-select-item-option-selected {
    background-color: rgba(255, 255, 255, 0.37) !important;
}

.ant-cascader-menus,
.ant-cascader-menu-item {
    background-color: white !important;
}

.ant-cascader-menu-item-expand {
    background-color: #ddddddaf !important;
    margin: 0.5rem;
}

.ant-cascader-checkbox-checked {
    .ant-cascader-checkbox-inner {
        background-color: $secondary !important;
        border-color: $secondary !important;
    }
}
.ant-collapse-header {
    display: flex !important;
    align-items: center !important;
    .ant-collapse-expand-icon {
        padding: 0 16px 0 0 !important;
    }
}
.ant-collapse-content-box {
    background-color: white !important;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
}

.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    padding-bottom: 0.625rem;
    overflow-y: auto;
    flex-direction: column;
    background-color: #f7f7f7;
}

.translate .ant-select-selector {
    height: fit-content !important;
    transform: translateY(-50%);
    span {
        color: $dark-gray !important;
    }
}

.translate .ant-select-selection-placeholder {
    color: $dark-gray !important;
}

.translate .ant-select-disabled {
    span {
        color: $dark-gray !important;
    }
}

.PrincipalButton {
    span {
        color: $black;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
    }
    &:hover {
        span {
            color: white;
            transition-duration: 250ms;
        }
    }
}

.scrollableTabGlobalCss {
    // No reemplazar el classname
    .ant-tabs-nav-list {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap; // Evita el salto de línea
        .ant-tabs-tab-btn {
            color: $black !important;
        }
        .ant-tabs-tab-btn > .activeTab {
            font-size: 16px;
            font-weight: 600;
            color: $dark-gray !important;
        }
        &::-webkit-scrollbar {
            height: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius: 10px;
        }
    }
}

.mapboxgl-popup-content {
    background-color: #1F2228 !important;
    border-radius: 10px !important;
    padding: 25px !important;
}

.mapboxgl-popup-tip {
    border-bottom-color: #1F2228 !important;
    border-top-color: #1F2228 !important;
}