@import "@/styles/variables";

.contentRegisterNewsConcilation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.75rem 0.5rem;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 0 1rem 0;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: inherit;
        border: none;
        padding: 0;
        box-shadow: none;
        width: fit-content;
        background-color: transparent;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }

        h4 {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    &__select {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 0;
    }

    &__description {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 1rem;
    }

    &__evidence {
        display: grid;
        grid-template-columns: 1fr minmax(1px, 3fr);
        justify-content: space-between;
        gap: 1rem;

        .addDocument {
            display: flex;
            grid-column-start: 2;
            align-items: center;
            border: none;
            box-shadow: none;
            font-size: 0.75rem;
            padding: 0;
            margin-top: -0.5rem;
            height: fit-content;
            width: fit-content;
        }

        .documentButton {
            grid-column-start: 2;
        }

        em {
            font-size: 0.75rem;
            font-weight: 300;
        }

        textarea {
            background-color: $background;
            border: none;
            border-radius: 0.5rem;
            padding: 0.875rem 1rem;
            width: 100%;
            min-height: 4.25rem;
            resize: none;
            font-family: inherit;
            font-size: 1rem;
        }
    }

    .error {
        color: red;
        font-weight: 300;
    }
}

.footer {
    display: flex;
    gap: 1rem;

    .cancelButton {
        width: 100%;
        height: fit-content;
        box-shadow: none;
        background-color: $white;
        color: black;
        font-weight: 600;
        border: 1px solid black;
        padding: 12px 24px;

        &:hover {
            opacity: 0.8;
        }
    }

    .acceptButton {
        width: 100%;
        height: fit-content;
        box-shadow: none;
        color: black;
        font-weight: 600;
        padding: 12px 24px;
        background-color: $dark-gray;

        &__green {
            background-color: $secondary !important;
        }

        &__white {
            background-color: #ffff;
            border: solid 2px;
        }

        &:disabled {
            background-color: $dark-gray;

            cursor: not-allowed;

            &:hover {
                background-color: $dark-gray !important;
                color: black !important;
            }
        }
    }
}