@import "@/styles/variables.scss";

.banksRulesTable {
    margin-top: 0.5rem;
    .tableColumn {
        border: none !important;
        padding: 0.375rem 0.75rem !important;
        height: fit-content !important;

        &.-equalSign {
            padding: 0 !important;
        }
    }

    .ant-table-selection-column {
        border: none !important;
    }

    .tableInfo {
        background-color: $dark-gray;
        border-radius: 8px;
        padding: 1rem 0.875rem;
    }

    .editButton {
        background-color: $dark-gray;
        height: 54px;
        box-shadow: -4px 4px 10px 0px #00000014;

        &:hover {
            opacity: 0.8;
            background-color: $dark-gray !important;
        }
    }
}
