.WrapperChild {
    .titleName {
        font-weight: 600;
        height: 32px;
        color: var(--Black, #141414);
        line-height: 124%;
        font-style: normal;
        font-size: 24px;
    }
}
