@import "../../../../styles/variables.scss";
.selectholdingbr {
    width: 100%;

    .holdings {
        background-color: $background;
        padding: .75rem;
        border-radius: 0.5rem;
        margin-top: .5rem;
        justify-content: flex-start;
    }

    .title {
        font-size: 1rem;
        font-weight: 600;
        line-height: normal;
        color: var(--Black, #141414);
    }
    .holdingsItems{
        overflow-y: auto;
        max-height: 400px;
        
    }
    .holding {
        background-color: $white;
        width: 100%;
        border-radius: .25rem;
        padding: .3rem .5rem;
        margin: .5rem 0;
    }
    .removebutton {
        width: 20px !important;
        background-color: $dark-gray;
        height: 20px;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .addButton {
        display: flex;
        align-items: center;
        margin-top: .5rem;
    }

}