@import "@styles/variables.scss";

.inputClickableContainer {
    position: relative;

    .title {
        position: absolute;
        top: -1.3rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: $gray;
    }

    .clickableInput {
        background-color: $background;
        padding: 0.4rem;
        border-radius: 0.25rem;
        height: 3rem !important;
        display: flex !important;
        align-items: center;
        cursor: pointer;

        .ant-input-wrapper {
            padding-right: 1rem !important;

            input {
                font-size: 1rem;
                font-weight: 300;

                &::placeholder {
                    color: $dark-gray;
                }
            }
        }

        &.-disabled {
            background-color: $dark-gray;
            cursor: not-allowed;
            input {
                &::placeholder {
                    color: $black;
                }
            }
        }
    }
}
