@import "@/styles/variables.scss";

.loginForm {
    width: 95%;
    height: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__inputTitle {
        font-size: 0.875rem;
        font-weight: 600;
        color: $black;
    }

    &__content {
        margin: 2.75rem 0;
    }

    .inputPassword {
        background-color: $background;
        border-radius: 0;
        padding: 0.7rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 300;
        max-height: 3rem;

        .ant-input {
            &::placeholder {
                color: $dark-gray !important;
            }
        }

        &::placeholder {
            color: $dark-gray !important;
        }

        &:disabled {
            color: $dark-gray !important;
        }

        &.-readOnly {
            background-color: $dark-gray;
            color: $darker-gray;
        }
    }

    .forgotPassword {
        font-size: 0.95rem;
        color: $black;
        text-decoration: underline;
        align-self: flex-end;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        margin-top: -1rem;

        &:hover {
            color: $darker-gray;
        }
    }

    .buttonContainer {
        height: 50%;
        width: 95%;
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
    }
}

@media (max-height: 720px) {
    .loginForm {
        &__content {
            margin: 0;
        }
    }
}
