.subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 20px;
}
.subtitleReg {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 20px;
}

.divdistance{
  background: #f7f7f7 !important;
  padding: 1rem;
  border-radius: 8px;
}