.mainTitle {
  display: flex;

  .titleContainer {
    display: flex;
    border-radius: 8px;
    background: #F7F7F7;
    flex: 0 0 auto;

    .textContainer {
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      padding: 6px 12px;
      border-radius: 8px;
      background: #969696;
    }

    .subTextContainer {
      display: flex;
      column-gap: 8px;
      background: none;
      color: rgba(20, 20, 20, 0.50);
      font-weight: 600;

      .number {
        font-weight: 300;
      }
    }
  }
}

.emptyContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0px;

  .textEmpty {
    color: rgba(20, 20, 20, 0.50);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.12px;
  }
}