@import "@/styles/variables.scss";

.confirmedOrderView {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    background-color: $white;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    &::before {
        content: "";
        position: absolute;
        border-radius: 4px;
        top: 0;
        left: 0;
        width: 100%;
        height: 350px;
        background-color: #202020;
        z-index: 0;
        border-radius: 4px 4px 0 0;
    }

    &__content {
        z-index: 2;
        width: 800px;
        border-radius: 1rem;
        box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.14);

        &__header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            margin-bottom: 1rem;

            p {
                font-size: 1.5rem;
                font-weight: 600;
                color: $white;
            }

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    color: $white;
                    max-width: 400px;
                }
            }

            .check {
                color: $secondary;
            }
        }

        .summaryContainer {
            border-radius: inherit;
            background-color: $white;

            &__top {
                padding: 1.5rem;
                padding-top: 2.5rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .mainTitle {
                        font-size: 2rem;
                    }

                    .quantity {
                        font-size: 1.125rem;
                        font-weight: 500;
                        color: $black;
                    }
                }

                .categories {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .category {
                        p {
                            font-size: 1rem;
                            font-weight: 500;
                            color: $gray;
                        }
                    }

                    .products {
                        display: grid;
                        gap: 1.5rem;
                        grid-template-columns: 1fr 1fr;
                    }
                }

                .shippingData {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1.5rem;
                }

                .discountsContainer {
                    &__title {
                        margin-bottom: 1.5rem;
                    }

                    &__discounts {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 1.5rem;

                        p {
                            font-weight: 700;
                            font-size: 0.875rem;
                            border: 2px solid #cdd3a4;
                            border-radius: 8px;
                            padding: 16px;
                            background-color: $light-yellow;
                        }
                    }
                }
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 0.938rem;
            background-color: #fcffed;
            border-radius: 7px;

            p {
                font-weight: 500;
            }
            strong {
                font-weight: 800;
                font-size: 2rem;
            }

            &__earlyPaymentTotal {
                font-size: 1.125rem;
                font-weight: 500;
                color: $gray;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .confirmedOrderView {
        padding: 2rem 0.5rem;
        &__content {
            width: 100%;

            .summaryContainer {
                &__top {
                    .products {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .confirmedOrderView {
        &__content {
            .summaryContainer {
                &__top {
                    .categories {
                        gap: 2rem;
                        .products {
                            grid-template-columns: 1fr;
                        }
                    }

                    .shippingData {
                        display: flex;
                        flex-direction: column;
                    }

                    .discountsContainer {
                        &__discounts {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
}
