@import '../../../styles/variables.scss';

.addresscontainer {
    background-color: $background;
    padding: .5rem;
    border-radius: .45rem;
    gap: .75rem;

    width: 48%;

    .address {
        font-size: .85rem;
        font-weight: 300;
    }

    .city {
        font-size: .7rem;
        font-weight: 300;
    }
}