@import "@styles/variables.scss";

.invoicesTable {
    &__id {
        color: $link !important;
        text-decoration: underline;
        cursor: pointer;
    }

    .selectedRow {
        td {
            background-color: inherit !important;
        }
    }

    .negativeAdjustment {
        color: red;
    }

    .expirationText {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .ant-table-column-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .ant-table-content {
        table {
            .ant-table-cell {
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
            }
        }
    }

    .cell {
        display: inline-block;

        &.-zone {
            width: 100%;
        }

        &.-alignRight {
            display: flex;
            justify-content: flex-end;
            padding-right: 5px;
        }

        &.-individualResponsability {
            max-width: 210px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.toolTip {
    color: $black;
    font-weight: 300;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    strong {
        font-weight: 600;
    }
}

.logosWrapper {
    padding-right: 0.3rem !important;
    .logos {
        display: flex;
        gap: 0.25rem;
        justify-content: flex-end;

        button {
            background-color: $background;
            padding: 0;

            border: none;

            &:hover {
                border: 1px solid $black;
            }
        }
    }
}
