.wrapper {
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  max-width: 630px;
  padding: 18px 24px;
  flex-direction: column;
  transition: transform 0.3s;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 82px 0px #0000003D;
  &.show {
    transform: translateX(0);
  }
  &.hide {
    transform: translateX(100%);
  }
  .modalTopSide {
    display: flex;
    column-gap: 12px;
    margin: 0 0 16px 0;
    align-items: center;
    .back {
      width: 32px;
      height: 32px;
      display: flex;
      font-size: 20px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #F7F7F7;
      }
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  }
  .modalContent {
    display: flex;
    flex-direction: column;
    .tabs {
      width: 100%;
      display: flex;
      margin: 0 0 24px 0;
      border-bottom: 2px solid #F7F7F7;
      .tab {
        height: 32px;
        display: flex;
        padding: 0 16px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: #DDDDDD;
        line-height: 24px;
        align-items: center;
        &:hover {
          background-color: #F7F7F7;
        }
        &.active {
          color: #141414;
          border-bottom: 2px solid #141414;
        }
      }
    }
    .searcher {
      width: 100%;
      display: flex;
      column-gap: 16px;
      margin: 0 0 24px 0;
      .filterButton {
        display: flex;
        column-gap: 4px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;
        line-height: 24px;
        padding: 10px 14px;
        border-radius: 8px;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #141414;
        .icon {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .listItems {
      flex: 1;
      display: flex;
      overflow-y: auto;
      padding: 0 10px 0 0;
      flex-direction: column;
      width: calc(100% - 10px);
      max-height: calc(100vh - 230px);
    }
  }
}