@import "@/styles/variables.scss";

.inputCreateClientType {
    background-color: $background;
    width: 100%;

    .createButton {
        width: 98%;
        display: flex;
        align-items: center;
        height: 3rem;
        margin-top: 0.3rem;
        border: none;
    }
}
