@import "@styles/variables.scss";

.modalBillingPeriod {
    width: 100%;

    .buttonOk {
        width: 49%;
        height: 3rem;
        box-shadow: none;
        background-color: $secondary;
        color: black;
        font-weight: 600;

        &:hover {
            background-color: $secondary !important;
            opacity: 0.8;
        }
    }

    .input {
        background-color: $background;
        border-radius: 0;
        border-radius: 0.25rem;
        height: 3rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        width: 78%;

        input {
            &::placeholder {
                color: $dark-gray !important;
            }

            &::-webkit-input-placeholder {
                color: $dark-gray !important;
            }

            &:-moz-placeholder {
                color: $dark-gray !important;
            }

            &::-moz-placeholder {
                color: $dark-gray !important;
            }

            &:-ms-input-placeholder {
                color: $dark-gray !important;
            }
        }
    }

    .buttonCancel {
        width: 49%;
        height: 3rem;
        box-shadow: none;
        background-color: $white;
        color: black;
        font-weight: 600;
        border: 1px solid black;

        &:hover {
            background-color: $white !important;
            opacity: 0.8;
        }
    }

    .textPre-input {
        width: auto;
        font-size: 1rem;
        width: 3.5rem;
    }
}