.inputBox {
    flex: 1;
    cursor: text;
    padding: 0.75rem;
    display: flex;
    column-gap: 12px;
    color: #141414;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    align-items: center;
    background-color: #f7f7f7;
    max-width: 25rem;

    .icon {
        font-size: 20px;
        font-weight: bold;
    }
    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        background-color: transparent;
        &::placeholder {
            color: #070707;
        }
    }
}
