
    .card {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      row-gap: 2rem;
      background-color: #FFFFFF;
      border-radius: 15px;
      border: 1px solid #DDD;
      box-shadow: -6px 6px 32px 0px rgba(0, 0, 0, 0.2);

      .navContainer {
        display: flex;
        column-gap: 2rem;
        border-bottom: 1px solid #DDD;

        .nav {
          padding-bottom: 4px;
          color: #DDD;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;

          &.active {
            color: #141414;
            font-weight: 700;
            border-bottom: 1px solid #141414;
          }
        }
      }

      .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .backContainer {
          display: flex;
          column-gap: 10px;
          align-items: center;
          cursor: pointer;

          .title {
            color: #141414;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.12px;
          }
        }

        .btnContainer {
          display: flex;
          column-gap: 8px;

          .actionBtn {
            background-color: #F7F7F7;
          }

          .tranckingBtn {
            background-color: #CBE71E;
          }

          .text {
            color: var(--Black, #141414);
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      .dot {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #CBE71E;
        color: #141414;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding-top: 2px;
        letter-spacing: -0.08px;
      }
    }
  
