@import '../../../../styles/variables.scss';

.modaladdress {
    width: 100%;


    .buttonOk {
        width: 40%;
        height: 3rem;
        box-shadow: none;
        background-color: $secondary;
        color: black;
        font-weight: 600;

        &:hover {
            background-color: $secondary !important;
            opacity: 0.8;
        }
    }

    .titleSection {
        margin-left: .5rem;
        margin-top: .75rem;
    }
}