.tabs {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #F7F7F7;
  .tab {
    height: 32px;
    display: flex;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #DDDDDD;
    line-height: 20px;
    align-items: center;
    &:hover {
      background-color: #F7F7F7;
    }
    &.active {
      color: #141414;
      border-bottom: 2px solid #141414;
    }
  }
}