@import "../../../../styles/variables.scss";

.selectchips {
    border: 1px solid $dark-gray;
    background-color: $white;
    border-radius: 0.7rem;
    width: 100%;
    // margin: 0.5rem 0;
    padding: 0.65rem;
    height: max-content;

    .headerselectchips {
        margin-bottom: 0.2rem;
    }

    .titleChannel {
        font-weight: 300;
        font-size: 1rem;
    }

    .titleLine {
        font-weight: 300;
        font-size: 1rem;
    }

    .line {
        border: 1px solid $dark-gray;
        width: 100%;
        border-radius: 0.7rem;
        gap: 0.74rem;
        padding: 1rem;
    }

    .sublines {
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .mainTags {
        padding: 0.45rem;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .tag {
        background-color: $background;
        border: none;
        display: flex;
        align-items: center;
        padding: 0.45rem;
        gap: 1.7rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        font-weight: 600;

        .ant-tag-close-icon {
            display: flex;
        }
    }
}
