@import "@styles/variables.scss";

.contianerdocumentclientbr {
    margin-top: 2rem;
    .title {
        color: var(--Black, #141414);
        font-size: 1rem;
        font-weight: 600;
        line-height: normal;
        font-size: 1rem;
        font-weight: 600;
    }

    .clientTypes {
        background-color: $background;
        padding: 0.75rem;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
    }
}
.documentclientbr {
    .clientTypeCard {
        background-color: $white;
        border: 1px solid $dark-gray;
        border-radius: 0.5rem;
        padding: 1rem;
        &__title {
            font-size: 1rem;
        }
    }
    .addButtonLineSub {
        display: flex;
        align-items: center;
        color: $gray;
        margin-top: 0.5rem;
        padding: 0;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .removebutton {
        width: 20px !important;
        background-color: $dark-gray;
        height: 20px;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
