@import "@/styles/variables.scss";

.banksTable {
    margin-top: 1rem;

    .ant-table-column-title {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .ant-table-tbody {
        overflow-x: hidden;

        &-virtual-scrollbar-horizontal {
            display: none;
        }
    }

    .ant-table-container {
        table {
            .ant-table-cell {
                padding-top: 0.4rem;
                padding-bottom: 0.4rem;
            }
        }
    }

    .cell {
        display: inline-block;
    }

    .idText {
        color: $link;
        text-decoration: underline;
        cursor: pointer;
    }

    .accountBankText {
        font-size: 0.625rem;
        color: $darker-gray;
    }

    .buttonSeeEvidence {
        background-color: $background !important;
    }

    .buttonSeeClient {
        background-color: $background !important ;
    }

    .pagination {
        justify-content: center;
    }
}
