.mainMap {
  display: flex;
  height: 100vh;
  
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 28px;
    padding: 36px 32px 24px 32px;
    
    .titleContainer {
      display: flex;
      justify-content: space-between;
  
      .title {
        color: var(--Black, #141414);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.12px;
      }
  
      .swithComponent {
        display: flex;
        background-color: #DDDDDD;
        border-radius: 100px;
  
        .switchItem {
          padding: 8px 16px;
          border-radius: 100px;
          cursor: pointer;
  
          color: #838383;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
  
          &.active {
            background-color: #252129;
            color: #FFF;
          }
        }
      }
    }
  
    .mapContainer {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
  
      .mainCard {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 35%;
        background-color: #1F2228;
        border-radius: 16px;
        margin-top: 24px;
        margin-left: 24px;
        padding: 20px;
        cursor: pointer;
        z-index: 1000;
  
        .titleContainer {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
  
          .titleCard {
            color: #FFF;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
          }
        }
  
        .bottomDivider {
          padding-bottom: 31px;
          margin-bottom: 31px;
          border-bottom: 1px solid #292E39;
        }
  
        .cardContainer {
          overflow: auto;
          height: 65vh;
          max-height: 80vh;
          margin-top: 34px;
  
          .card {
            display: flex;
            justify-content: space-between;
  
            .leftSection {
              display: flex;
              column-gap: 16px;
  
              .img {
                width: 51px;
                height: 51px;
                background-color: #FFF;
                border-radius: 6px;
              }
  
              .cardTitleContainer {
                display: flex;
                align-items: center;
                column-gap: 15px;
  
                .cardTitle {
                  color: #FFF;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                  letter-spacing: -0.5px;
                }
  
                .cardSubtitle {
                  padding: 2px 8px;
                  border-radius: 7px;
                  color: #677FB0;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 20px;
                  background-color: #2E323A;
                }
              }
  
              .cardBody {
                display: flex;
                flex-direction: column;
                column-gap: 17px;
                margin-top: 16px;
                row-gap: 18px;
  
                .cardMarkContainer {
                  display: flex;
                  column-gap: 17px;
  
                  .cardMark {
                    margin-top: 4px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid #D9D9D9;
                  }
  
                  .cardDescription {
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                  }
  
                  .cardDescriptionStep {
                    color: #6F7A90;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                  }
  
                  .cardDate {
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px; 
                  }
  
                  .cardDateStep {
                    color: #6F7A90;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px; 
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}