@import "@styles/variables";

.HeaderContainer {
    width: 100%;
    height: fit-content;
    margin: 0 0 32px 0;
    background-color: $white;
    padding: 2rem;
    padding-left: 2.5rem;
    overflow-y: auto;
    border-radius: 1rem;
    border: 1px solid $dark-gray;

    .buttonContainer {
        .buttonIcon {
            background-color: transparent;
            box-shadow: none;
            display: flex;
            align-items: center;
            border: 1px solid $dark-gray;
            padding: 3rem 5rem;
            flex-direction: column;
            @media (max-width: 768px) {
                width: 230px;
            }
            @media (min-width: 768px) {
                width: 350px;
            }
            > span {
                font-size: 1rem;
                font-weight: 500;
            }

            &:hover {
                background-color: $secondary !important;
                color: $white !important;
                border: 1px solid $gray !important;
            }

            &.active {
                background-color: $secondary;
                span {
                    font-weight: 800;
                }
            }
        }
    }
}
