@import "@/styles/variables.scss";

.pagination {
    justify-content: center;
}
.ant-pagination-item {
    border-radius: 50% !important;
}
.ant-table-tbody {
    justify-content: center;
}
.text {
    gap: 6px;
    display: flex;
    align-items: center;
}
.mainProjectsTable {
    width: 100%;
    height: 95%;
    padding-bottom: 0;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    box-shadow: -6px 6px 32px 0px rgba(0, 0, 0, 0.2);

    .next {
        transform: rotate(90deg);
    }

    .prev {
        transform: rotate(-90deg);
    }

    .ant-table-pagination {
        margin-top: 80px !important;
    }

    .mainProjectsTable_header {
        margin: 1rem 0;

        .search {
            width: 400px;
            height: 48px;
        }
        .options {
            width: 48px;
            height: 48px;
        }
    }

    .statusContainerInactive {
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        text-overflow: ellipsis;
        border: 1px solid $pending;
    }
    .tableUsers {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .tableTitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .statusContainerActive {
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 0.5rem;
        padding: 0.25rem 0.4rem;
        text-overflow: ellipsis;
        border: 1px solid $active;
    }
    .ant-table-thead {
        text-align: center;
    }
    .statusActive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $active;
    }

    .statusInactive {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 1rem;
        margin-right: 0.5rem;
        background-color: $pending;
    }

    .inputSearch {
        &::placeholder {
            color: black !important;
        }
    }
    .icon-detail {
        background: #ddd;
    }
    .buttonNewProject {
        gap: 10px;
        display: flex;
        color: black;
        box-shadow: none;
        font-weight: 600;
        padding: 12px 24px;
        align-items: center;
        background-color: $secondary;

        &:hover {
            background-color: $secondary !important;
            opacity: 0.8;
            color: black;
        }
    }

    .imageWithoutImage {
        background-color: $secondary !important;
    }
}
