
.filterContainer {
  display: flex;
  column-gap: 0.5rem;
}

.tabContainer {
  display: flex;
  column-gap: 2rem;
  border-bottom: 1px solid #DDD;
}

.tab {
  padding-bottom: 4px;
  color: #DDD;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &.active {
    color: #141414;
    font-weight: 700;
    border-bottom: 1px solid #141414;
  }
}

