@import "@/styles/variables.scss";

.products {
    .line {
        width: 400px;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 12px;
        .product {
            color: #333;
            font-weight: bold;
            padding: 0.3rem;
            margin: 2px;
            background-color: $background;
            border-radius: 5px;
            font-size: 0.7rem;
            cursor: pointer;
        }
    }
}
