
.tripTypeIcons,
.tripTypes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tripTypeIcons {
  gap: var(--gap-9xs);
}
.tripTypes {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  box-sizing: border-box;
  overflow-y: auto;
  padding: var(--padding-5xs) var(--padding-xl);
  min-width: 262px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-poppins);
  cursor: pointer;
}

.active {
  background-color: var(--green) !important;
}