@import "@styles/variables.scss";

.selectInputRoles {
    height: 44px !important;
    margin-bottom: 1rem;
    background-color: $background;
    border-radius: 0.25rem;
    border-bottom: none;
}

.selectInputRolesError {
    border: 1px dashed red;
    height: 44px !important;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.45rem;
    border-radius: 0.25rem;
}
