@import "@styles/variables.scss";

.accountingAdjustmentsTab {
    .ant-collapse-header {
        display: flex;
        align-items: center !important;
        padding: 0 !important;
        margin-top: 1.5rem;
        margin-left: -0.5rem;

        &-text {
            h4 {
                margin: 0;
            }
        }
    }

    .ant-collapse-content {
        &-box {
            padding: 0.75rem 0.5rem !important;
        }
    }
}
