@import "@styles/variables.scss";

.wrapper__new {
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    max-width: 630px;
    padding: 18px 24px;
    flex-direction: column;
    transition: transform 0.3s;
    background-color: #ffffff;
    box-shadow: 0px 4px 82px 0px #0000003d;
    z-index: 2;
    overflow-y: auto;
    scrollbar-width: thin;

    &._show {
        transform: translateX(0);
    }

    &._whide {
        transform: translateX(100%);
    }

    .modalTopSide {
        display: flex;
        column-gap: 12px;
        margin: 0 0 16px 0;
        align-items: center;

        .back {
            background-color: $white;
            border: none;
            width: 32px;
            height: 32px;
            display: flex;
            font-size: 20px;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #f7f7f7;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid #e8e8e8;

        .ant-typography {
            margin-bottom: 0;
        }
    }

    .header-buttons {
        display: flex;
        gap: 8px;

        .ant-btn {
            box-shadow: none;

            &:first-child {
                background-color: #fff;
                border-color: #d9d9d9;
            }

            &:last-child {
                background-color: #cbe71e;
                border-color: #cbe71e;
                color: black;
            }
        }
    }
}