@import "../../../../../styles/variables.scss";

.mainCreateOrder {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: $background;

    .buttonGoBack {
        display: flex;
        align-items: center;
        color: $secondary-gray;
    }

    .divider {
        color: $secondary-gray;
        font-size: 1.8rem;
        margin: 0 0.5rem;
    }

    .icon {
        color: $secondary-gray;
    }

    .rutesText {
        color: $secondary-gray;
        font-weight: 600;
        cursor: pointer;
    }
    .tabs {
        .tab {
            max-width: 100%;
            font-size: var(--font-size-base) !important;
            color: #141414 !important;
            font-family: var(--font-poppins) !important;
        }
        color: #141414;
    }
    .containerCreateOrder {
        width: 100%;
        padding: 2rem;
        height: auto;

        .titleName {
            margin: auto;
            font-weight: 600;
            width: 398px;
            height: 32px;
            color: var(--Black, #141414);
            line-height: 124%;
            font-style: normal;
            font-size: 24px;
        }

        .subtitleNit {
            font-weight: 600;
            margin: 1rem 0;
        }

        .imageProject {
            margin: rem 0;
        }
    }


    .infoHeaderOrder {
        gap: 2rem;
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }

    .orderContainer {
        width: 100%;
        height: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 0.5rem;
        background-color: $white;

        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: 100%;
        }

        .tabs {
            align-self: stretch;
            max-width: 100%;
            font-size: var(--font-size-base) !important;
            color: var(--black) !important;
            font-family: var(--font-poppins) !important;
            margin-bottom: 0.5rem;
        }
    }
}

.ant-collapse {
    width: 100%;
}

.collapseByAction {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .ant-collapse-header {
        background-color: $background;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;

        span {
            margin: 0;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__text {
            font-size: 1rem !important;
            font-weight: 400 !important;
            margin: 0 !important;
        }
    }

    .ant-collapse-content {
        border: solid 1px $dark-gray !important;
        border-radius: 0 0 0.5rem 0.5rem;
        border-top: none !important;
        margin: -0.3rem 0.1rem 0.1rem 0.1rem;

        &-box {
            padding: 0.3rem 1rem 0 1rem !important;
        }
    }

    &__children {
        padding-top: 2rem;
        padding-bottom: 2rem;

        &__item {
            margin: 1rem 0;
        }

        hr {
            border: none;
            height: 1px;
            background-color: $dark-gray;
        }
    }
}

/* TRIP SELECTION TYPE*/

.icon {
    width: 27px;
    height: 27px;
    position: relative;
}

.text {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 51px;
}

.tripTypeIcons,
.tripTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tripTypeIcons {
    gap: var(--gap-9xs);
}

.tripTypes {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    box-sizing: border-box;
    overflow-y: auto;
    padding: var(--padding-5xs) var(--padding-xl);
    min-width: 262px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--black);
    font-family: var(--font-poppins);
    cursor: pointer;
}

.active {
    background-color: var(--green);
}

/*Agendamiento*/
.locationLabels {
    align-self: stretch;
    flex-direction: column;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base) !important;
    color: var(--black) !important;
    font-family: var(--font-poppins) !important;
    margin-bottom: 0.5rem;
}

.puntoOrigen {
    align-self: stretch;
    position: relative;
    letter-spacing: -1px;
    line-height: 32px !important;
    margin-bottom: 0.5rem !important;
}

.ant-picker-dropdown .ant-picker-panel-container {
    background: #f7f7f7 !important;
}