.wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    .name {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
    .img {
        flex: 5;
        width: 100%;
        background-color: #cbe71e4d;
    }

    .chart {
        margin-left: -1.5rem;
        margin-top: -0.8rem;

        .yAxis {
            font-size: 0.5rem;
            font-weight: 300;
        }
    }

    .legends {
        flex: 1;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0.3rem;
        align-items: center;
        justify-items: center;
        margin-top: -0.7rem;

        .legend {
            display: flex;
            column-gap: 4px;
            font-size: 0.625rem;
            font-weight: 300;
            line-height: 0.8;

            .circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }
}
