@import "@/styles/variables.scss";

.ordersView {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .title {
        font-size: 2rem;
        font-weight: 700;
    }

    .FlexContainer {
        height: fit-content;
        width: 100%;
        background-color: $white;
        padding: 1rem 2rem;
        overflow-y: auto;
        border-radius: 0.5rem;


        .header {
            height: 48px;
            gap: 0.5rem;

            .ctaButton {
                margin-left: auto;
            }
        }
    }
}

.collapseByStatus {
    .ant-collapse-item {
        margin-left: 1rem !important;
        padding-bottom: 1.5rem !important;
        margin-right: 0.5rem !important;
        border-bottom: 1px solid $dark-gray !important;
        border-radius: none !important;

        &:last-child {
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }
    }

    .ant-collapse-header {
        display: flex;
        align-items: center !important;
        padding: 0 !important;
        margin-top: 1.5rem;
        margin-left: -1.5rem;
        background-color: blue !important;

        &-text {
            h4 {
                margin: 0;
            }
        }
    }

    .ant-collapse-content {
        &-box {
            padding: 0.75rem 0.5rem !important;
        }
    }
}