@import "@styles/variables.scss";

.labelCollapse {
    background-color: $background;
    width: fit-content;
    gap: 1.4rem;
    border-radius: 0.5rem;

    &__status {
        color: $white;
        border-radius: 0.5rem;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
    }

    &__total {
        gap: 0.2rem;
        align-items: center;
        opacity: 50%;
        margin-right: 1rem;
        &__icon {
            color: $black;
        }
        &__title {
            font-size: 0.875rem;
            font-style: normal;
            color: $black;
            margin: 0;
        }
    }
}
