@import "@styles/variables.scss";

.selectInputCustom {
    height: 3rem !important;
    margin-bottom: 1rem;
    background-color: $background;
    border-radius: 0.25rem;
    width: 100% !important;

    .ant-select-selector {
        font-size: 1rem !important;

        .ant-select-selection-item {
            font-weight: 300;
        }

        .ant-select-selection-placeholder {
            color: $dark-gray;
        }
    }

    &.--readOnly {
        background-color: $dark-gray;
        cursor: text;

        .ant-select-selector {
            color: $darker-gray;
        }
    }
}
.selectInputError {
    width: 100%;
    border: 1px dashed red;
    height: 3rem !important;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.45rem;
    border-radius: 0.25rem;
    font-weight: 300;

    .ant-select-selector {
        .ant-select-selection-placeholder {
            color: $dark-gray;
            font-size: 1rem;
        }
    }
}

.selectDrop {
    background-color: $background !important;
    font-size: 1rem;

    .selectOptions {
        background-color: $background !important;
        border-top: 1px solid $white;
        padding: 0.7rem !important;
        font-size: 1rem !important;
        font-size: 1rem;

        &.-noHolding {
            color: $gray;
        }
    }
}

.inputTitle {
    font-size: 0.75rem;
    font-weight: 600;
    color: $gray;
    margin-bottom: 0.25rem;
}
