@import "@styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1.5rem;
  border: 1px solid $dark-gray;
  border-radius: 1px;
  .title {
    font-size: 24px;
    margin: 4px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    .dropdown {
      width: 35%;
      height: 100%;
      padding: 10px 16px;
      border: 1px solid #DDDFE8;
      border-radius: 4px;
      .dropdownSelect {
        width: 100%;
        height: auto;
        padding: 10px 16px;
        border: 1px solid #DDDFE8;
        border-radius: 4px;
        .left {
          display: flex;
          gap: 8px;
        }
      }
    }
    .selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;
      .driverButton {
        border: 0;
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
      }
    }
    .documentsTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .button {
        border: 0;
        background-color: $white;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
      }
    }
  }
}
