@import "@/styles/variables.scss";

.chanelSelect {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    overflow-y: auto;
    padding: 0;
}
