@import "@styles/variables.scss";

.modal__concilation {
    position: absolute;
    right: 5%;
    top: 25%;
    max-width: 25rem;
    min-width: 15rem;
    width: fit-content;
    background-color: $white;
    color: $black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    cursor: grab;
    z-index: 20;

    &__title {
        font-size: 1rem;
        font-weight: 300;
    }

    &__total {
        font-size: 1.625rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5rem;
        line-height: 1.125rem;
    }

    &__invoices {
        border-radius: 0.5rem;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: $background;
        padding: 0.25rem 0.5rem;
    }

    .custom-panel {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0;


        .ant-collapse-content-box {
            padding: 0 !important;
        }

        .ant-collapse-header {
            padding: 0 !important;
            color: #DDDDDD !important;
        }

        .ant-collapse-expand-icon {
            padding: 0 !important;
        }

        .ant-collapse-arrow {
            color: black !important;
            width: 1rem;
            height: 1rem;
        }

        .divider {
            border-bottom: 1px solid #DDDDDD;
            margin: 0;
            padding-bottom: 0.3rem;
        }
        .text__diference {
            font-size: 0.875rem;
            font-weight: 300;
            color: #E53261;
        }
    }
}